{% extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf%}{% import 'macros.html' as macro%}
<!-- Styles block -->

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}


<!-- Content block -->
{% block content %}

<div class="container-fluid">
    <div class="row" style="padding-left: 30px; ">
        {% if current_user.is_authenticated %}
        <h1>Hello {{current_user.username}},</h1>
        {% else %}
        <h1>Hello stranger</h1>
        {% endif %}
        <h2>Welcome to My Personal Blog.</h2>


        <p><a style="background-color: #b5179e; color: white;" href=" {{url_for('main.blog_form')}} " class="btn btn-primary" role="button">Blog</a></p>

    </div>
    <div class="row">
        {% for blog in blogs %}

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 style="color: #893168; "> {{blog.title}}</h3>
                    <p> {{blog.blog_text}}</p>
                    <p><a style="background-color:#b5179e; color: white;" href=" {{url_for('main.comment',blog_id = blog.id)}} " class="btn btn-primary" role="button">Comment</a></p>
                </div>
            </div>
        </div> {% endfor %}

    </div>

</div>
{% endblock%}